/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background: linear-gradient(135deg, #f0f4ff, #d1e7ff); */
    background-image: url("../assests/body-bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.container, .pre-login-container, .dashboard-container {
    backdrop-filter: blur(15px);
    padding: 40px 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(15, 2, 110, 0.59);
    border-radius: 12px;
    text-align: center;
}

h1, h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 1.2rem;
    color: #9691ff;
    margin-bottom: 20px;
}
.p1{
    color: #ffffff;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

form input, form select {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1rem;
}

.checkbox-container {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    color: #ffffff;
}
.checkbox{
    align-items: left;
    width: 20px;
    margin-inline: 0;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}
button, .button {
    background-color: #007bff;
    color: #ffffff;
    padding: 14px 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    align-self: center;
}

button:hover, .button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    text-decoration: none;
}

.button-green {
    background-color: #28a745;
}

.button-green:hover {
    background-color: #218838;
}

form a, a {
    color: #218cff;
    text-decoration: none;
}

form a:hover, a:hover {
    text-decoration: underline;
}
.password-criteria{
    display: none;
    text-align: left;
}
#userNameLabel{
    color: #ffffff;
    margin: 10px;
}

#forgot-password-form{
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container, .pre-login-container, .dashboard-container {
        padding: 20px 15px;
    }

    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .button, button {
        font-size: 0.9rem;
    }
}